<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="NoticeMapper">
	<select id="totalCount" resultType="java.lang.Integer" parameterType="com.iu.util.PageMaker">
		<!-- kind : 1(title), 2(writer), 3(contents) -->
		select count(num) from notice where 
		<choose>
			<when test="kind == 1">
				title
			</when>
			<when test="kind == 2">
				writer
			</when>
			<otherwise>
				contents
			</otherwise>
		</choose>
		like '%'|| #{search} || '%'
		
		<!-- <if test="title == '1'">
			where title like '%'||#{search}||'%'
		</if>
		<if test="title =='2' ">
			where writer like '%'||#{search}||'%'
		</if>
		<if test="title =='3'">
			where contents like '%'||#{search}||'%'
		</if> -->
		
		
	</select>
	
	<select id="noticeList" resultType="com.iu.board.notice.NoticeDTO" parameterType="com.iu.util.PageMaker">
		select * from
		(select rownum R, N.* from
		(select * from notice
		where
		
		<choose>
			<when test="kind == 1">
				title
			</when>
			<when test="kind == 2">
				writer
			</when>
			<otherwise>
				contents
			</otherwise>
		</choose>
		like '%'|| #{search} || '%'
		
		order by num desc) N)
		where R between #{startRow} and #{lastRow}
	</select>
	
	<resultMap type="com.iu.board.notice.NoticeDTO" id="test">
		<id property="num" column="n"/>
		<result property="title" column="t"/>
	</resultMap>

	<select id="noticeSelect" resultMap="test" parameterType="java.lang.Integer">
		select num as n, title as t, writer, contents, reg_date, hit from notice where num=#{num}
	</select>

	<insert id="noticeWrite" parameterType="com.iu.board.BoardDTO">
		<selectKey resultType="java.lang.Integer" order="BEFORE" keyProperty="num">
			select notice_seq.nextval from dual
		</selectKey>
		insert into notice values(#{num},#{title},#{writer},#{contents},sysdate,0) 
	</insert>
	
	<update id="noticeUpdate" parameterType="com.iu.board.notice.NoticeDTO">
		update notice set title=#{title}, contents=#{contents} where num=#{num}
	</update>
	
	<delete id="noticeDelete" parameterType="java.lang.Integer" >
		delete notice where num=#{num}
	</delete>
		
</mapper>